<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>あすちか ご寄付のお願い</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="SAMPLE HOME"></a></h1>
<!--開閉ブロック-->
<div id="menubar">
<nav>
<ul>
<li><a href="index.html">ホーム</a></li>
<!--<li><a href="jirei.html">制作事例</a></li>
<li><a href="koe.html">お客様の声</a></li>-->
<li><a href="donation.html">ご寄付のお願い</a></li>
</ul>
</nav>
</div>
<!--/#menubar-->
<!--
<ul class="btn">
<li><a href="contact.html">お問い合わせ・資料請求</a></li>
</ul>
-->
</header>

<div id="contents">

<main>

<section>

<h2>ご寄付のお願い<span>ご協力お願いします</span></h2>

<div class="list-half">
<div class="list">

	<div class="text">
	<h4>ご寄付のお願い</h4>
	<p>「あすちか」は小学生をはじめとする多くの方々に体験を通じて宇宙の素晴らしさを広める活動をしています。</p>
	</div>
	<!--/.text-->

	<div class="image-r">
	<figure><img src="images/2.jpg" alt=""></figure>
	</div>
	<!--/.image-r-->

</div>
<!--/.list-->

<div class="list">

	<div class="text">
	<h4>ご寄付の手続き</h4>
	<p>寄付金申込書(PDF形式、Word形式)にご記入の上、あすちかまで、メール、郵送のいずれかでお送りください。
        あるいは、ご寄付の内容を住所氏名とともにメールや電話などでお知らせいただければ、こちらで記入させていただきます。
        お振込みは郵便振替または銀行振込でお願いいたします。</p>
    <dl class="new">
        <dt>住所</dt>
        <dd>〒606-8502　京都府京都市左京区北白川追分町</dd>
        <dt>電話</dt>
        <dd></dd>
        <dt>銀行振込</dt>
        <dd>口座未開設</dd>
    </dl>
	</div>
	<!--/.text-->

</div>
<!--/.list-->

</div>

</section>

</main>

</div>
<!--/#contents-->

<ul id="footermenu">
<li><a href="index.html">ホーム</a></li>
<li><a href="donation.html">会社概要</a></li>
</ul>

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE HOME</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</div>
<!--/#container-->

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--スライドショー（vegas）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.js"></script>
<script src="js/vegas.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="js/jquery.inview_set.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="js/main.js"></script>

</body>
</html>
